// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

$min-item-height: 54px;

.filemetadata-list.list-group {
  margin-bottom: 0;
}

.filemetadata-list-item.list-group-item {
  min-height: $min-item-height;
}
