// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

// Space Mono
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: $font-weight-header-regular;
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

// Roboto
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font-weight-header-regular;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font-weight-header-bold;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

// Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-regular;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-semi-bold;
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-bold;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

// CMD+RVL

// PPMori
@font-face {
  font-family: 'PPMori';
  font-style: normal;
  font-weight: $font-weight-body-regular;
  src: url('../fonts/PPMori-Regular.woff2') format('woff2'),
       url('../fonts/PPMori-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-style: normal;
  font-weight: $font-weight-body-bold;
  src: url('../fonts/PPMori-Bold.woff2') format('woff2'),
       url('../fonts/PPMori-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-style: normal;
  font-weight: $font-weight-body-semi-bold;
  src: url('../fonts/PPMori-Bold.woff2') format('woff2'),
       url('../fonts/PPMori-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-style: normal;
  font-weight: $font-weight-body-extralight;
  src: url('../fonts/PPMori-Extralight.woff2') format('woff2'),
       url('../fonts/PPMori-Extralight.ttf') format('truetype');
}

// IBM Plex Mono
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: $font-weight-body-regular;
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: $font-weight-body-bold;
  src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: $font-weight-body-light;
  src: url('../fonts/IBMPlexMono-Light.ttf') format('truetype');
}
